@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    max-width: 65ch;
    text-wrap: pretty;
  }

  * {
    /* border: 1px solid lime; */
  }
}

@layer utilities {
  .wrapper {
    --max-width: 75rem;
    --padding-inline: 1rem;

    display: grid;
    grid-template-columns:
      minmax(var(--padding-inline), 1fr) min(var(--max-width),
        100% - (var(--padding-inline) * 2)) minmax(var(--padding-inline), 1fr);

    >* {
      grid-column: 2/3;
    }
  }
}
